*
{margin: 0px;
padding: 0px;}
body {
    background-color: #efe8db;
}

nav { 
     
    background-color: #aab24b;
}


ul{
    display: flex;
    list-style-type: none; 
    font-style: oblique; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    width: 100%;
    justify-content: flex-start;}

    

    #logo{
        width:auto;
        height: 100%;}

    li{
        color: yellowgreen;margin-right: 2%;
    }


    li a {
            color: rgba(255, 255, 255, 0.938);
            text-decoration: none;
            font-size: 40%;}

   img{width: 20%;
         margin-right: 5%;}

.corq {width: 100%;}
    .a {display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80%;
    }
           
    .b {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80%
       }

            

    .c {display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80%

        }

            

    .d {display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80%;
     }

             p {
                width: 70%;
                height:100%;
                background-color: rgb(113, 167, 113);border-radius: 5px;
                 
            }
    
            .fin{
                margin-left: -10px;
                margin-right: -10px;
                background: #aab24b;
            ;}
    
            .map{
                width: 100%;
                height: 100%;
                margin-bottom: -10px;}
    
            .liens-social{
                text-align: center;
    
            } 
    
            .contact{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
                font-size: 40%;
                text-align: center;
            color: #665033;}