*
{
    box-sizing: border-box;
    margin: 0px;
padding: 0px;}
body {
    background-color: #efe8db;
}
#logo{
    height: 80px;
    margin-bottom: -6px;
}

/* Variables */
:root {
  --font-size:1rem;
}
.light-mode {
  --navbar-color: #aab24b;
  --navbar-bg-color: #F0F0F0;  
}
.dark-mode {
  --navbar-color: #FFF;
  --navbar-bg-color: #aab24b;  
}

/* Reset */
* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}

/* Basic style */
body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
}
.main-content {
  padding:1rem;
}
/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding-right: 10px;
  font-size:1.1rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
}
.navbar__links { 
  display:flex;  
}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}

/*  Small device */
@media screen and (max-width:1767.98px) {
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  }   
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  
  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:var(--navbar-color); 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .show-nav .a {      
    transition: all 1s ease-out;
  } 
  .show-nav .b {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .c {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .d {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .e {      
    transition: all 1.4s ease-out;
  }
  .show-nav .f {      
    transition: all 1.5s ease-out;
  }
   .show-nav .g {      
    transition: all 1.6s ease-out;
  }
}

/*  Medium device - Bonus */
/* @media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
} */



/* nav { 
     
    background-color: #aab24b;
}


ul{
    display: flex;
    list-style-type: none; 
    font-style: oblique; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    width: 100%;
    justify-content: flex-start;}

    

    #logo{
        width:auto;
        height: 100%;}

    li{
        color: yellowgreen;
        margin-right: 2%;
    }


    li a {
            color: rgba(255, 255, 255, 0.938);
            text-decoration: none;
            font-size: 40%;} */

   .prod{width: 25%;
         margin-right: 3%;
        margin-left: 3%;}

.corq {width: 100%;}

.case{display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 5px;}


    .a { margin-bottom: 10px;
    }
           
    .b { margin-bottom: 5px;
        
       }

            

    .c { margin-bottom: 5px;

        }

            

    .d { margin-bottom: 5px;
     }

             p {
                width: 70%;
                height:100%;
                background-color: rgb(248, 248, 248);
                border-radius: 5px 25px;
                font-size: 70%;
                padding-left: 5px;
                 
            }
    
            .command{   display: flex;
                justify-content: space-around;}
            
            
                #nbr-produit{
                font-size: 7px;
                border-radius: 5px;
                padding: 5px;
            }

            input{font-size: 7px;
                background-color: #eb9b23;
                border-radius: 5px;
                padding: 5px;}
          .barresep{
              width: 100%;
              
          }
            .fin{
                margin-left: -10px;
                margin-right: -10px;
                background: #aab24b;
            ;}
    
            .map{
                width: 100%;
                height: 100%;
                margin-bottom: -10px;}
    
            .liens-social{
                text-align: center;
    
            } 
    
            .contact{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
                font-size: 70%;
                text-align: center;
            color: #665033;}

@media screen and (min-width: 780px){
    #nbr-produit{
        font-size: 15px;
       margin-top: 20px;
}
input{font-size: 15px;
}
    p {
        height: 100px;  
    }
}