*
{margin: 0px;
padding: 0px;}
body {
    background-color: #efe8db;
}

nav { 
     
    background-color: #aab24b;
}


ul{
    display: flex;
    list-style-type: none; 
    font-style: oblique; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    width: 100%;
    justify-content: flex-start;}

    

    #logo{
        width:auto;
        height: 100%;}

    li{
        color: yellowgreen;margin-right: 2%;
    }


    li a {
            color: rgba(255, 255, 255, 0.938);
            text-decoration: none;
            font-size: 40%;}

   img{width: 20%;
         margin-right: 5%;}


.ar-plan{
        height: 100px;
        
   background: url(https://media.istockphoto.com/photos/empty-field-at-the-sunset-picture-id689762756?k=20&m=689762756&s=612x612&w=0&h=XyQFeaP7gT2qwgYcVXIorbJ3n9LrTAgPKSCUA81rPo8=)
}

.panier{
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 60%;
    
}
#confirm-command{
    margin: 5px;
    padding: 2%;
    font-size: 30%;

    background-color: #eb9b23;
    border-radius: 2px;
}

.dropdown{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;}



.fin{      margin-top: -10px;
            margin-left: -10px;
            margin-right: -10px;
            background: #aab24b;
        ;}

        .map{
            width: 100%;
            height: 100%;
            margin-bottom: -10px;}

        .liens-social{
            text-align: center;

        } 

        .contact{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
            font-size: 40%;
            text-align: center;
        color: #665033;}